In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sns

In [2]:
# used below code to concatenate two csv files 
path = r'/home/aydin/Desktop/dsi_lax3/capstones/capstone3_data'#path to the files
all_files = glob.glob(os.path.join(path, "*.csv")) 
df_from_each_file = (pd.read_csv(f, engine = 'python', na_values= [-9999, '-9999'] ) for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

In [3]:
df.shape

(1844487, 78)

In [4]:
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,NaN,R1297,NaN,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Public Service,NaN,R1268,NaN,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Public Service,NaN,R1023,NaN,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Public Service,NaN,R1180,NaN,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona Public Service,NaN,R1451,NaN,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# checking list of columns
df.columns

Index(['data_provider_1', 'data_provider_2', 'system_ID_1', 'system_ID_2',
       'installation_date', 'system_size_DC', 'total_installed_price',
       'rebate_or_grant', 'customer_segment', 'expansion_system',
       'multiple_phase_system', 'new_construction', 'tracking',
       'ground_mounted', 'zip_code', 'city', 'state',
       'utility_service_territory', 'third_party_owned', 'installer_name',
       'self_installed', 'azimuth_1', 'azimuth_2', 'azimuth_3', 'tilt_1',
       'tilt_2', 'tilt_3', 'module_manufacturer_1', 'module_model_1',
       'module_quantity_1', 'module_manufacturer_2', 'module_model_2',
       'module_quantity_2', 'module_manufacturer_3', 'module_model_3',
       'module_quantity_3', 'additional_modules', 'technology_module_1',
       'technology_module_2', 'technology_module_3', 'BIPV_module_1',
       'BIPV_module_2', 'BIPV_module_3', 'bifacial_module_1',
       'bifacial_module_2', 'bifacial_module_3', 'nameplate_capacity_module_1',
       'nameplate_capacity_module_2', 'nameplate_capacity_module_3',
       'efficiency_module_1', 'efficiency_module_2', 'efficiency_module_3',
       'inverter_manufacturer_1', 'inverter_model_1', 'inverter_quantity_1',
       'inverter_manufacturer_2', 'inverter_model_2', 'inverter_quantity_2',
       'inverter_manufacturer_3', 'inverter_model_3', 'inverter_quantity_3',
       'additional_inverters', 'micro_inverter_1', 'micro_inverter_2',
       'micro_inverter_3', 'solar_storage_hybrid_inverter_1',
       'solar_storage_hybrid_inverter_2', 'solar_storage_hybrid_inverter_3',
       'built_in_meter_inverter_1', 'built_in_meter_inverter_2',
       'built_in_meter_inverter_3', 'output_capacity_inverter_1',
       'output_capacity_inverter_2', 'output_capacity_inverter_3',
       'DC_optimizer', 'inverter_loading_ratio', 'battery_rated_capacity_kW',
       'battery_rated_capacity_kWh'],
      dtype='object')

In [6]:
df['customer_segment'].value_counts()/1844487

RES           0.952124
COM           0.019627
NON-RES       0.009777
GOV           0.002763
NON-PROFIT    0.002075
SCHOOL        0.001846
Name: customer_segment, dtype: float64

In [7]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844487 entries, 0 to 1844486
Data columns (total 78 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   data_provider_1                  1844487 non-null  object
 1   data_provider_2                  315579 non-null   object
 2   system_ID_1                      1746613 non-null  object
 3   system_ID_2                      258918 non-null   object
 4   installation_date                1844487 non-null  object
 5   system_size_DC                   1830826 non-null  float64
 6   total_installed_price            1421842 non-null  float64
 7   rebate_or_grant                  1692702 non-null  float64
 8   customer_segment                 1822746 non-null  object
 9   expansion_system                 1844487 non-null  int64
 10  multiple_phase_system            1844487 non-null  int64
 11  new_construction                 313852 non-null   float64
 12  tracking                         1156224 non-null  float64
 13  ground_mounted                   917047 non-null   float64
 14  zip_code                         1758554 non-null  object
 15  city                             1699387 non-null  object
 16  state                            1844487 non-null  object
 17  utility_service_territory        1775182 non-null  object
 18  third_party_owned                1565063 non-null  float64
 19  installer_name                   1652992 non-null  object
 20  self_installed                   1451891 non-null  float64
 21  azimuth_1                        903007 non-null   float64
 22  azimuth_2                        99521 non-null    float64
 23  azimuth_3                        31479 non-null    float64
 24  tilt_1                           904761 non-null   float64
 25  tilt_2                           99549 non-null    float64
 26  tilt_3                           31486 non-null    float64
 27  module_manufacturer_1            1356435 non-null  object
 28  module_model_1                   1354361 non-null  object
 29  module_quantity_1                1357146 non-null  float64
 30  module_manufacturer_2            183694 non-null   object
 31  module_model_2                   183689 non-null   object
 32  module_quantity_2                71255 non-null    float64
 33  module_manufacturer_3            141627 non-null   object
 34  module_model_3                   141626 non-null   object
 35  module_quantity_3                19340 non-null    float64
 36  additional_modules               1255369 non-null  float64
 37  technology_module_1              1511538 non-null  object
 38  technology_module_2              193877 non-null   object
 39  technology_module_3              121497 non-null   object
 40  BIPV_module_1                    1422665 non-null  float64
 41  BIPV_module_2                    71477 non-null    float64
 42  BIPV_module_3                    22252 non-null    float64
 43  bifacial_module_1                1437133 non-null  float64
 44  bifacial_module_2                77919 non-null    float64
 45  bifacial_module_3                22348 non-null    float64
 46  nameplate_capacity_module_1      1299043 non-null  float64
 47  nameplate_capacity_module_2      66887 non-null    float64
 48  nameplate_capacity_module_3      21367 non-null    float64
 49  efficiency_module_1              1252709 non-null  float64
 50  efficiency_module_2              63853 non-null    float64
 51  efficiency_module_3              20583 non-null    float64
 52  inverter_manufacturer_1          1440726 non-null  object
 53  inverter_model_1                 902281 non-null   object
 54  inverter_quantity_1              1345471 non-null  float64
 55  inverter_manufacturer_2          173749 non-null   object
 56  inverter_model_2                 159850 non-null   object
 57  inverter_quantity_2              54199 non-null    float64
 58  inverter_manufacturer_3          126509 non-null   object
 59  inverter_model_3                 124697 non-null   object
 60  inverter_quantity_3              4230 non-null     float64
 61  additional_inverters             1250426 non-null  float64
 62  micro_inverter_1                 1469786 non-null  float64
 63  micro_inverter_2                 57826 non-null    float64
 64  micro_inverter_3                 6268 non-null     float64
 65  solar_storage_hybrid_inverter_1  1179445 non-null  float64
 66  solar_storage_hybrid_inverter_2  47866 non-null    float64
 67  solar_storage_hybrid_inverter_3  0 non-null        float64
 68  built_in_meter_inverter_1        1308943 non-null  float64
 69  built_in_meter_inverter_2        52935 non-null    float64
 70  built_in_meter_inverter_3        5858 non-null     float64
 71  output_capacity_inverter_1       1208728 non-null  float64
 72  output_capacity_inverter_2       48506 non-null    float64
 73  output_capacity_inverter_3       5160 non-null     float64
 74  DC_optimizer                     1472772 non-null  float64
 75  inverter_loading_ratio           1024022 non-null  float64
 76  battery_rated_capacity_kW        16860 non-null    float64
 77  battery_rated_capacity_kWh       8529 non-null     float64
dtypes: float64(50), int64(2), object(26)
memory usage: 1.1+ GB

In [10]:
df_csv = df[[ 'installation_date', 'system_size_DC', 'total_installed_price',
       'rebate_or_grant', 'customer_segment', 'expansion_system',
       'multiple_phase_system', 'new_construction', 'tracking',
       'ground_mounted', 'zip_code', 'city', 'state',
      
       'self_installed', 'technology_module_1',
       'technology_module_2', 'technology_module_3',
       'efficiency_module_1', 'efficiency_module_2', 'efficiency_module_3',]]

In [11]:
df_csv.to_csv('output.csv.gz'
         , sep=','
         , header=True
         , index=False
         , chunksize=100000
         , compression='gzip'
         , encoding='utf-8')

In [11]:
df=df[[ 'installation_date', 'system_size_DC', 'total_installed_price',
       'rebate_or_grant', 'customer_segment', 'expansion_system',
       'multiple_phase_system', 'new_construction', 'tracking',
       'ground_mounted', 'zip_code', 'city', 'state',
      
       'self_installed', 'module_manufacturer_1', 'module_model_1',
       'module_quantity_1', 'module_manufacturer_2', 'module_model_2',
       'module_quantity_2', 'module_manufacturer_3', 'module_model_3',
       'module_quantity_3', 'additional_modules', 'technology_module_1',
       'technology_module_2', 'technology_module_3', 'BIPV_module_1',
       'BIPV_module_2', 'BIPV_module_3', 'bifacial_module_1',
       'bifacial_module_2', 'bifacial_module_3', 'nameplate_capacity_module_1',
       'nameplate_capacity_module_2', 'nameplate_capacity_module_3',
       'efficiency_module_1', 'efficiency_module_2', 'efficiency_module_3',
       'DC_optimizer', 'inverter_loading_ratio', 'battery_rated_capacity_kW',
       'battery_rated_capacity_kWh']]

In [12]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844487 entries, 0 to 1844486
Data columns (total 43 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   installation_date            1844487 non-null  object
 1   system_size_DC               1830826 non-null  float64
 2   total_installed_price        1421842 non-null  float64
 3   rebate_or_grant              1692702 non-null  float64
 4   customer_segment             1822746 non-null  object
 5   expansion_system             1844487 non-null  int64
 6   multiple_phase_system        1844487 non-null  int64
 7   new_construction             313852 non-null   float64
 8   tracking                     1156224 non-null  float64
 9   ground_mounted               917047 non-null   float64
 10  zip_code                     1758554 non-null  object
 11  city                         1699387 non-null  object
 12  state                        1844487 non-null  object
 13  self_installed               1451891 non-null  float64
 14  module_manufacturer_1        1356435 non-null  object
 15  module_model_1               1354361 non-null  object
 16  module_quantity_1            1357146 non-null  float64
 17  module_manufacturer_2        183694 non-null   object
 18  module_model_2               183689 non-null   object
 19  module_quantity_2            71255 non-null    float64
 20  module_manufacturer_3        141627 non-null   object
 21  module_model_3               141626 non-null   object
 22  module_quantity_3            19340 non-null    float64
 23  additional_modules           1255369 non-null  float64
 24  technology_module_1          1511538 non-null  object
 25  technology_module_2          193877 non-null   object
 26  technology_module_3          121497 non-null   object
 27  BIPV_module_1                1422665 non-null  float64
 28  BIPV_module_2                71477 non-null    float64
 29  BIPV_module_3                22252 non-null    float64
 30  bifacial_module_1            1437133 non-null  float64
 31  bifacial_module_2            77919 non-null    float64
 32  bifacial_module_3            22348 non-null    float64
 33  nameplate_capacity_module_1  1299043 non-null  float64
 34  nameplate_capacity_module_2  66887 non-null    float64
 35  nameplate_capacity_module_3  21367 non-null    float64
 36  efficiency_module_1          1252709 non-null  float64
 37  efficiency_module_2          63853 non-null    float64
 38  efficiency_module_3          20583 non-null    float64
 39  DC_optimizer                 1472772 non-null  float64
 40  inverter_loading_ratio       1024022 non-null  float64
 41  battery_rated_capacity_kW    16860 non-null    float64
 42  battery_rated_capacity_kWh   8529 non-null     float64
dtypes: float64(27), int64(2), object(14)
memory usage: 605.1+ MB

In [13]:
#chaning format of installation date
df['installation_date'] = pd.to_datetime(df['installation_date']).dt.strftime('%Y-%m-%d')

/home/aydin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
#set installation date as index
df.sort_values('installation_date', inplace=True)
df.set_index('installation_date', drop=True, inplace=True)

/home/aydin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
df

,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,multiple_phase_system,new_construction,tracking,ground_mounted,zip_code,...,nameplate_capacity_module_1,nameplate_capacity_module_2,nameplate_capacity_module_3,efficiency_module_1,efficiency_module_2,efficiency_module_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
installation_date,,,,,,,,,,,,,,,,,,,,,
1998-01-30,4.251500,NaN,NaN,RES,0,0,NaN,NaN,NaN,95949,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.289506,NaN,NaN
1998-02-04,8.362200,NaN,NaN,RES,0,0,NaN,NaN,NaN,94518,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.302118,NaN,NaN
1998-02-28,NaN,9545.00,NaN,RES,0,0,NaN,NaN,NaN,97601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-03-01,0.650000,NaN,NaN,RES,0,0,NaN,NaN,NaN,87109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-04-01,110.300000,NaN,NaN,NON-RES,0,0,NaN,NaN,NaN,85281,...,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,146.000000,NaN,0.0,RES,0,0,NaN,0.0,0.0,02125,...,365.0,NaN,NaN,0.187530,NaN,NaN,1.0,NaN,NaN,NaN
2019-12-31,9.600000,31747.20,0.0,RES,0,0,NaN,0.0,NaN,06612,...,320.0,320.0,320.0,0.197531,0.197531,0.164919,1.0,1.263158,NaN,NaN
2019-12-31,14.080000,50999.87,0.0,RES,0,0,NaN,NaN,NaN,85396,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2019-12-31,7.939102,42900.00,0.0,RES,0,0,NaN,0.0,0.0,91740,...,325.0,NaN,NaN,0.199387,NaN,NaN,1.0,1.042424,NaN,NaN
2019-12-31,7.920000,20956.00,0.0,RES,0,0,NaN,0.0,0.0,91942,...,330.0,NaN,NaN,0.206250,NaN,NaN,0.0,1.047619,NaN,NaN

In [17]:
df['date'] = df.index.date
df['year'] = df.index.year

AttributeError: 'Index' object has no attribute 'date'

In [18]:
df.index

Index(['1998-01-30', '1998-02-04', '1998-02-28', '1998-03-01', '1998-04-01',
       '1998-04-10', '1998-05-12', '1998-05-12', '1998-05-19', '1998-06-15',
       ...
       '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
       '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31'],
      dtype='object', name='installation_date', length=1844487)